<%- include("partials/header"); -%>
<h1>About</h1>
<p>
  I am a passionate web development professional currently pursuing my B.Tech
  from Lovely Professional University.
</p>
<%- include("partials/footer"); -%>
