<%- include("partials/header"); -%>
<h1>Contact</h1>
<p>Email: madhavanpeeyush@gmail.com</p>
<p>
  Linkedin:
  <a href="https://www.linkedin.com/in/peeyush-k-madhavan/" target="_blank"
    >Click Here</a
  >
</p>

<%- include("partials/footer"); -%>
